<div class='Artistas'>
    <h1>NUESTROS ARTISTAS</h1>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/halloween.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HALLOWEEN</h5>
          <p class="card-text">Helloween es una banda alemana de power y heavy metal, son considerados "los padres del heavy metal" y la banda mas influyente
              para el desarrollo de dicho subgenero.
             
          </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>

        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/mt.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MYKE TOWERS</h5>
          <p class="card-text" >El cantautor puertorriqueño nominado en la categoría Artista del Año de los Latin American Music Awards 2022.
              Es uno de los artistas más inflyuentes del género actualmente.
                  
              </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/coldplay.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">COLDPLAY</h5>
          <p class="card-text">La banda británica de pop rock y rock alternativo formada en Londres, compuesta por Chris Martin, 
              Jon Buckland, GuyBerryman y Will Champion es uno de los grupos mas relevantes e influyentes de la década de los 
              2000, 2010 y la actualidad.
          </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
        </div>
      </div>
    </div>
  </div>
 <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/pt.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PORCUPINE TREE</h5>
          <p class="card-text">“PORCUPINE TREE, una de las bandas más reconocidas y destacadas del rock progresivo y metal progresivo
             formada en Reino Unido. Se reconoce a esta banda como el proyecto más exitoso del músico Steven Wilson.
          </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- carusel mini ARTISTAS -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <h1>NUESTROS ARTISTAS</h1>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
          <div class="card">
            <img src="/multimedia/ariel-szanto-aqA82Kt_bsE-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ULTRA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="/multimedia/bring-me-the-horizon-2021-696x479.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BRING ME THE HORIZON</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="/multimedia/Joyeux-40e-anniversaire-deadmau5-celebrez-avec-5-de-ses-titres.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DEAD MAUS</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
            </div>
          </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <img src="/multimedia/277781235-320650273385220-8321478473860314554-n_39744491_20220401152330.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">RED HOT CHILI PEPPERS</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img src="/multimedia/foto_de_john-mayer-1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">JOHN MAYER</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img src="/multimedia/T7IQHJFVTVFTFJYOTEOGPC7NFE.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CHAVO OF THE 8 </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href=".../Views/Home/Entradas.cshtml" class="btn btn-primary">Saber más...</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    <section class="about-area">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="about-image">
                  <img src="/multimedia/ramstein.jfif" alt="About us" class="img-fluid">
                  <p>Rammstein es una banda Alemana de metal industrial formada en los años noventa por los músicos 
                      Till Lidermann, Richard Z. Kruspe, Oliver Riedel, Paul Landers, Christian Lorenz y Christoph Schneider.
                      Su éxito "Rammstein" ha vendido más de 50 millones de copias de discos en el mundo. Sus álbumes más aclamados
                      son "Heizeleid", "Sehnsucht" y "Mutter"
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>