@{
    ViewData["Contacto"] = "Privacy Policy";
}
<h1>@ViewData["Contacto"]</h1>
<div class="containercontacto">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="Nombre y Apellido">
				<input type="text" class="field" placeholder="Correo Electronico">
				<input type="text" class="field" placeholder="Telefono">
				<textarea placeholder="Escriba su mensaje..." class="field"></textarea>
				<button class="btn1">Send</button>
			</div>
		</div>
	</div>
