model Ilist<RealityFirst>
@{

}
@foreach (RealityFirst noticia in Model)
{
    

<div class="Noticias">
    <h1>BIENVENIDO</h1>
</div>

<div class='noticias'>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/halloween.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">@noticia.titulo</h5>
          <p class="card-text">@noticia.noticia 
              <br> Fecha: @noticia.fechaEvento
              <br> Lugar: @noticia.lugar <br>
              ¡Te esperamos!
          </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Comprar entradas</a>

        </div>
      </div>
    </div>
  </div>
  @*<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/mt.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MYKE TOWERS</h5>
          <p class="card-text" >Nominado en la categoría Artista del Año de los Latin American Music Awards 2022.
              No te pierdas al imperdible Myke Towers en concierto.
              <br>Fecha: 23 de Septiembre de 20200. 
              <br>Lugar: Movistar Arena <br>
              ¡Te esperamos!
              </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Comprar entradas</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/coldplay.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">COLDPLAY</h5>
          <p class="card-text">Ya se han vendido más de dos millones de tickets para la Gira Mundial Music of the Spheres. 
               <br>Fecha: 21, 23 y 24 de septiembre 2022.
               <br>Lugar: Estadio Nacional.<br>
              ¡Te esperamos!
          </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Comprar entradas</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/multimedia/pt.jpg" width="500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PORCUPINE TREE</h5>
          <p class="card-text">“PORCUPINE TREE, una de las bandas más reconocidas y destacadas del rock progresivo y uno de los 
              proyectos más exitosos de Steven Wilson  confirmó el lanzamiento, luego de 12 años, las fechas de su gira que los trae a Chile. 
               <br>Fecha: viernes 7 de octubre de 2022
               <br>Lugar: Movistar Arena.
               <br> ¡Te esperamos!.
          </p>
          <a href="../Views/Home/Entradas.cshtml" class="btn btn-primary">Comprar entradas</a>
        </div>
      </div>
    </div>
  </div>*@

}