@model ModeloArtista

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>fecha de nacimiento</th>
        <th>lugar de nacimiento del artista</th>
        <th>edad del artista</th>
        <th>genero musical del artista</th>
    </tr>
    <tr>
        <td>IdArtista</td>
        <td>Artista</td>
        <td>FechaNac</td>
        <td>Lugar_nacimiento</td>
        <td>Edad años</td>
        <td>Genero</td>
    </tr>
</table>