<div class="titulo">
<h1>BUSCA,COMPRA Y DISFRUTA</h1>
</div>


 <nav class="navbar  justify-content-between">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>

<div class="containertarjetas">
      <div class="row">
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              
                          </div>
                      </div>
                      
                  </div>
                  <div class="mt-5">
                      <h3 class="heading" >Helloween</h3><a asp-area="" asp-controller="RealityFirst" asp-action="Pago">Movistar arena<br></a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="560" aria-valuemin="0" aria-valuemax="1000"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">560 entradas compradas <span class="text2">de 1000.</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              
                          </div>
                      </div>
                      
                  </div>
                  <div class="mt-5">
                      <h3 class="heading" >Corey Tailor</h3><a asp-area="" asp-controller="RealityFirst" asp-action="Pago">Movistar arena<br></a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="1560" aria-valuemin="0" aria-valuemax="2000"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">1560 entradas compradas <span class="text2">de 2000.</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              
                          </div>
                      </div>
                      
                  </div>
                  <div class="mt-5">
                      <h3 class="heading" >MONCHITO</h3><a asp-area="" asp-controller="RealityFirst" asp-action="Pago">Estadio Nacional<br></a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="2500" aria-valuemin="0" aria-valuemax="3000"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">2500 entradas compradas <span class="text2">de 3000.</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              
                          </div>
                      </div>
                      
                  </div>
                  <div class="mt-5">
                      <h3 class="heading" >Bethoveen</h3><a asp-area="" asp-controller="RealityFirst" asp-action="Pago">Teatro Caupolican<br></a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="450" aria-valuemin="0" aria-valuemax="1000"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">450 entradas compradas <span class="text2">de 1000.</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              
                          </div>
                      </div>
                      
                  </div>
                  <div class="mt-5">
                      <h3 class="heading" >Steven Wilson</h3><a asp-area="" asp-controller="RealityFirst" asp-action="Pago">Movistar arena<br></a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="560" aria-valuemin="0" aria-valuemax="1500"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">560 entradas compradas <span class="text2">de 1500.</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card p-3 mb-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                          <div class="ms-2 c-details">
                              
                          </div>
                      </div>
                      
                  </div>
                  <div class="mt-5">
                      <h3 class="heading" >DEAD MAUS5</h3><a asp-area="" asp-controller="RealityFirst" asp-action="Pago">Movistar arena<br></a>
                      <div class="mt-5">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="560" aria-valuemin="0" aria-valuemax="2000"></div>
                          </div>
                          <div class="mt-3"> <span class="text1">560 entradas compradas <span class="text2">de 2000.</span></span> </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<script>
    function toggleMenu(){
    var menutoggle = document.querySelector('.toggle');
    var navigation = document.querySelector('.navigation')
    menutoggle.classList.toggle('active')
    navigation.classList.toggle('active')
  }
  function obtenerArtista(){
      var Artista = document.getElementById('')
  }
  </script>

