@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    margin-top: 40px;
    padding-right:80px;
    width: 118%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
/*header*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

    header .logo {
        position: relative;
        max-width: 80px;
    }

    header ul {
        position: relative;
        display: flex;
    }

        header ul li {
            list-style: none;
        }

            header ul li a {
                display: inline-block;
                color: #333;
                font-weight: 400;
                margin-Left: 40px;
                text-decoration: none;
            }

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .content .textBox {
        padding-right: 80px;
        position: relative;
        max-width: 600px;
    }

        .content .textBox h2 {
            color: #333;
            font-size: 4em;
            line-height: 1.4em;
            font-weight: 500;
        }

            .content .textBox h2 span {
                color: #181818;
                font-size: 1.2em;
                font-weight: 900;
            }

    .content .text_Box p {
        color: #333;
    }

    .content .textBox a {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: #1a1a1a;
        color: #fff;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .content .imgBox {
        width: 700px;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        margin-top: 50px;
    }

        .content .imgBox img {
            max-width: 940px;
        }

.thumb {
    position: absolute;
    left: 45%;
    bottom: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

    .thumb li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        transition: 0.5s;
        cursor: pointer;
    }

        .thumb li:hover {
            transform: translateY(-15px);
        }

        .thumb li img {
            max-width: 70px;
        }

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .sci li {
        list-style: none;
    }

        .sci li a {
            display: inline-block;
            margin: 5px 0;
            transform: scale(0.6);
            filter: invert(1);
        }

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b7a4;
    clip-path: circle(600px at right 800px);
}

/*responsive header*/

@media (max-width:991px) {
    header {
        padding: 20px;
    }

        header .logo {
            max-width: 60px;
        }

        header ul {
            display: none;
        }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('../multimedia/menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }

        .toggle.active {
            background: url('../multimedia/close.png');
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
        }

    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }

    header ul li a {
        display: inline-block;
        color: #333;
        font-size: 1.5em;
        font-weight: 400;
        margin: 5px 0;
        text-decoration: none;
    }

    section {
        padding: 20px;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

        .content .textBox h2 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        .content .textBox {
            max-width: 100%;
        }

        .content .imgBox {
            max-width: 100%;
            justify-content: center;
        }

            .content .imgBox img {
                padding-bottom: 62px;
                max-width: 300px;
            }

    .thumb {
        left: 8%;
        bottom: 5px;
        filter: invert(1);
    }

        .thumb li img {
            max-width: 50px;
        }

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        Height: 100%;
        background: #00b7a4;
        clip-path: circle(400px at center bottom);
    }

    .sci {
        right: 30px;
        width: 30px;
        filter: invert(1);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}


/* contenedores */
.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.about-us {
    background: #fff;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    padding-bottom: 0px;
}

.contenedor1 h2 {
    color: rgb(29, 28, 28);
    text-align: center;
    font-weight: 900;
}


/*carusel_noticia*/

h1 {
    text-align: center;
    font-weight: 900;
}

.carousel {
    background: #fff;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 210px;
}

.card {
    width: 400px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: 700;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-2%);
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #000000;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}


/*carusel_noticia*/




/* footer */

footer {
    background: rgb(14, 13, 13);
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partfooter {
    width: 20%;
    text-align: center;
}

    .partfooter h4 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .partfooter a {
        display: block;
        text-decoration: none;
        color: #e4e7ee;
        font-weight: 300;
        transition: color .3s ease-in-out;
        margin-bottom: 10px;
    }

        .partfooter a:hover {
            color: rgba(3, 81, 154, 1)
        }

    .partfooter img {
        width: 60%;
    }

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #e8ebf1;
    border: 1px solid #d9dde6;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

    .social-media i:hover {
        color: #fff;
        background: rgba(3, 81, 154, 1);
        border-color: rgba(3, 81, 154, 1);
    }

.social-media {
    display: inline-flex;
}


/*responsive*/
@media screen and (max-width:800px) {
    .articulo {
        width: 45%;
    }

    .services {
        flex-direction: column-reverse;
        align-items: center;
    }
}



#Busqueda {
    background-color: black;
    border-color: #000000;
}


/*boton scroll*/


/*login*/
.image-container {
    background: url('../multimedia/rock3.jpg') center no-repeat;
    background-size: cover;
    height: 1000px;
}

.form-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

    .form-box h4 {
        font-weight: bold;
        color: rgb(31, 31, 31);
    }

    .form-box .form-input {
        position: relative;
    }

        .form-box .form-input input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            outline: none;
            background: rgb(31, 31, 31);
            padding-left: 45px;
        }

        .form-box .form-input span {
            position: absolute;
            top: 8px;
            padding-left: 20px;
            color: rgb(31, 31, 31);
        }

        .form-box .form-input input::placeholder {
            padding-left: 0px;
        }

        .form-box .form-input input:focus,
        .form-box .form-input input:valid {
            border-bottom: 2px solid #48403d;
        }

    .form-box input[type="checkbox"]:not(:checked) + label:before {
        background: transparent;
        border: 2px solid rgb(49, 49, 49);
        width: 15px;
        height: 15px;
    }

    .form-box .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: rgb(31, 31, 31);
        border: 0px;
    }

.forget-link, .register-link, .login-link {
    color: rgb(31, 31, 31);
    font-weight: bold;
}

    .forget-link:hover, .register-link:hover, .login-link:hover {
        color: #292525;
    }

.form-box button[type="submit"] {
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-right: 5px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

    .form-box button[type="submit"]:hover {
        box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
        -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    }

.form-box .btn-social {
    color: #fff;
    border: 0px;
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-box .btn-facebook {
    background: #4866a8;
}

.form-box .btn-google {
    background: #da3f34;
}

.form-box .btn-twitter {
    background: #33ccff;
}

.form-box .btn-facebook:hover {
    background: #3d5785;
    color: #fff;
}

.form-box .btn-google:hover {
    background: #bf3b31;
    color: #fff;
}

.form-box .btn-twitter:hover {
    background: #2eb7e5;
    color: #fff;
}
/*Contacto*/

.containercontacto {
    margin-Top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.containercontainercontacto:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../multimedia/rock3.jpg') center no-repeat;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left {
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

    h2:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: #2ecc71;
    }

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

    .field:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

textarea {
    min-height: 150px;
}

.btn1 {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

    .btn1:hover {
        background-color: #27ae60;
    }

.field:focus {
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

/*Entradas*/
.titulo {
    margin-top: 90px;
    
}

.containertarjetas {
    margin-top: 80px;
    background: #fff;
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #e2e2e2;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

    .progress div {
        background-color: red
    }

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
/*Noticias*/
.titulonoticias h1{
    margin-top: 100px;
}
.noticias {
    margin-top: 40px;
    display: flex;
}