<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pruebas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="multimedia/logo_transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="../obj/Debug/net6.0/scopedcss/bundle/PROYECTO" asp-append-version="true" />*/
</head>
<body>
    <header>
        <a href="#" ><img src="multimedia/logo_transparent.png" class="logo"></a>
        <div class="toggle" onclick="toggleMenu();"></div>
        <ul class="navigation">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">INICIO</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Entradas">ENTRADAS</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Noticias">NOTICIAS</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Artistas">ARTISTAS</a></li> 
            <li><<a asp-area="" asp-controller="Home" asp-action="Contacto">CONTACTO</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Ingresar">INGRESAR</a></li>
          </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Pruebas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>